Jim Carey       <jecarey@us.ibm.com>  <jecarey@dd2sys1fen3.rchland.ibm.com>
Douglas Miller  <dougmill@us.ibm.com> <dougmill@durgadas.rchland.ibm.com>
Douglas Miller  <dougmill@us.ibm.com> <dougmill@bgpdd2sys1.rchland.ibm.com>
Brian Smith     <smithbr@us.ibm.com>  <smithbr@dd2sys1fen3.rchland.ibm.com>
